@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'나눔고딕',NanumGothic,'맑은고딕',MalgunGothic,'돋움',Dotum,Helvetica,sans-serif;font-size:12px}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

/* skip navigation */
#u_skip{position:absolute;z-index:99999}
#u_skip a{position:absolute;left:0;top:-30px;width:128px;border:1px solid #4ec53d;text-align:center;outline:none}
#u_skip a:active,#u_skip a:focus{top:0;text-decoration:none;cursor:pointer;zoom:1}
#u_skip span{display:inline-block;padding:1px 6px 1px 0;font-size:11px;letter-spacing:-1px;color:#fff;line-height:26px}

body {
    background-color: #050099;
}
.header {
    padding-top: 20px;
    text-align: center;
}
.header .home {
    display: inline-block;
    padding: 4px;
    vertical-align: top;
}
.header .home:after {
    display: block;
    width: 30px;
    height: 30px;
    background: url('../img/logo.png') no-repeat;
    background-size: 30px auto;
    content: '';
}
.header .menulist {
    padding-top: 10px;
}
.header .menulist .item {
    display: inline-block;
    padding: 0 4px;
}
.header .menulist .link {
    display: block;
    padding: 0 5px;
}
.header .menulist .link.color {
    font-weight: bold;
    color: #000;
    line-height: 20px;
}
.header .menulist .link img {
    vertical-align: top;
}
.clothes_section {
    padding: 40px 23px;
}
.clothes_list .item {
    padding: 10px;
    border-radius: 3px;
    line-height: 20px;
    background-color: #fff;
}
.clothes_list .item > * {
    vertical-align: top;
}
.clothes_list .item + .item {
    margin-top: 5px;
}
.clothes_list .description {
    display: inline-block;
}